# Data - too large for git; see Suplemantery Information
data/
data/raw/
data/processed/
data/external/

# Results - folder that are too large for git; see Suplemantery Information
results/alignments/
results/stats/identity_pairs_annotated.tsv
results/structure/*.png
results/structure/*.mp4
results/embeddings/*.html

# IQ-TREE checkpoint files
*.ckp.gz
*.bkl

# Python
__pycache__/
.idea/
*.py[cod]
*.egg-info/
.env
.venv/

# R
.Rhistory
.RData
*.Rproj.user/

# OS
.DS_Store
Thumbs.db
slurm_out/

# Conda
envs/fumaraseevo/
tools/

# Hugging Face cache
.hf_cache/
.torch_cache/

# PyMOL cache
1yfe.cif